*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
    width: 100%;
}

a{
    color: white;
}

body{
    background-color: var(--azul-escuro);
    font-size: 1.4rem;
    font-family: 'Open Sans',sans-serif;
}

main{
    position: relative;
}

header{
    font-family: 'Raleway';
    padding: 30px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    display: inline;
    margin: 0px 15px;
}

.cabecalho a{
    text-decoration: none;
}

.cabecalho h2{
    font-size: 0;
}

.container-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-intro .intro{
    width: 55%;
}

.container-intro h2{
    width: 50%;
    text-align: center;
    color: white;
    padding: 10px 0px;
}

.container-intro p{
    width: 50%;
    text-align: center;
    color: white;
    padding-top: 20px;
}

.botao-iniciar{
    border: none;
    margin: 30px;
    padding: 15px 50px;
    border-radius: 25px;
    font-weight: 700;
    color: white;
    background-color: #4BB7CD;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.features{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.features-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.features .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
}

.features img{
    margin-bottom: 30px;
}

.features h3,
p{
    width: 600px;
    color: white;
    text-align: center;
}

.features p{
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 5px;
}

.features h3{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.productive{
    margin-bottom: 100px;
}

.container-productive{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-productive-info p{
    width: 600px;
    font-size: 1.2rem;
}

.container-productive-info{
    margin-bottom: 5px;
    text-align: left;
    align-self: center;
    font-size: 1.05rem;
}

.container-productive-info h2{
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
    width: 500px;
    margin-bottom: 30px;
}

.info{
    margin-bottom: 30px;
    text-align: left;
}

.container-productive-info a{
    text-decoration: underline;
    text-underline-offset: 10px;
    color: #29A7CD;
}

.productive-img{
    width: 350px;
    height: 300px;
}

.container.quotes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 300px;
}


.quotes-box.satish{
    position: relative;
}

.aspas{
    position: absolute;
    top: -35px;
    left: -10px;
    z-index: -1;
}


.quotes-box{
    position: relative;
    width: 350px;
    height: 200px;
    background-color: #21293C;
}

.quotes-box .perfil img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 25px;
}


.quotes-box h2{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    padding: 15px;
}

.quotes-box .perfil .nome{
    font-size: 0.8rem;
    font-weight: 700;
    width: 200px;
    position: absolute;
    bottom: 40px;
    left: 70px;
    text-align: left;
}

.quotes-box .perfil .funcao{
    font-size: 0.8rem;
    font-weight: 400;
    width: 200px;
    position: absolute;
    bottom: 25px;
    left: 70px;
    text-align: left;
}

.container-form{
    position: absolute;
    width: 70%;
    height: 300px;
    bottom: 300px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #21293C;
    border-radius: 10px;
    box-shadow: 0 0 0.8em #000;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form h2{
    color: white;
    font-weight: 700;
}

.form p{
    width: 100%;
    padding: 0px 40px;
}

.form .email{
    padding: 15px 150px;
    margin-right: 30px;
    border-radius: 25px;
}

.botao-iniciar-form{
    border: none;
    margin: 30px;
    padding: 15px 50px;
    border-radius: 25px;
    font-weight: 700;
    color: white;
    background-color: #4BB7CD;
}


.email::-webkit-input-placeholder{
    color:rgb(170, 170, 170);
    font-style: bold;
}


footer{
    background-color: #0C1524;
    height: 100%;
    width: 100%;
}


.legendas{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 1rem;
    font-weight: 400;
}

.logo-footer{
    position: absolute;
    top: -60px;
    left: 0;
}

.legenda{
    margin-top: 200px;
}

.legenda.localizacao{
    position: relative;
}

.legenda.localizacao p{
    position: relative;
    text-align: left;
    width: 400px;
}

.legenda.contato{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
}

.fa-solid.fa-phone{
    margin-bottom: 30px;
}

.legenda.about,
.legenda.contrato{
    display: flex;
    flex-direction: column;
}

.legendas nav ul li a{
    display: block;
    list-style-type: none;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: -20px;
}

.legenda.rede-social{
    display: flex;
    gap: 10px;
    color: white;
}
